nav {
  padding: 10px;

}

.mat-button {
  margin-right: 15px;
}

.mat-icon {
  margin-right: 5px;
}

.logo {
  max-width: 100px; /* Adjust the size of the logo */
  height: auto; /* Maintain aspect ratio */
}

.header-title {
  font-size: 3rem; /* Adjust font size as needed */
  font-weight: bold; /* Bold text */
  color: #ea2323; /* Optional: Text color */
  margin: 2px; /* Remove default margin */
  display: flex;
  justify-content: center;

}
.favicon img {
  border-radius: 100% !important;
 
}
