.carousel-card {
    position: relative;
    overflow: hidden;
  }
  
  .carousel-inner img {
    height: 500px; /* Adjust as needed */
    object-fit: cover;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
  }
  
  .carousel-control-prev, .carousel-control-next {
    width: 5%;
    border: none;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
  }
  
  .carousel-control-prev-icon::before {
    content: "<";
    font-size: 24px;
   // color: white;
  }
  
  .carousel-control-next-icon::before {
    content: ">";
    font-size: 24px;
    color: white;
  }
  
 
  