<div class="container profile mt-5">
    <div class="row justify-content-center">
      <!-- First Column: Profile Photo -->
      <div class="col-md-4 text-center">
        <mat-card class="profile-card">
          <mat-card-content>
            <img src="assets/user/profile2.jpeg" alt="Profile Photo" class="img-fluid rounded-circle profile-photo mb-3">
            <h5 class="mt-2">{{user.name}}</h5>
            <p class="text-muted">Profile Picture</p>
            <!--button mat-raised-button color="primary" class="mt-2">Change Photo</button-->
          </mat-card-content>
        </mat-card>
      </div>
      
      <!-- Second Column: Profile Information -->
      <div class="col-md-8">
        <mat-card class="mb-3">
          <mat-card-header>
            <mat-card-title>
              <h4>Profile Information</h4>
            </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <ul class="list-unstyled profile-info">
              <li><strong>Name:</strong> {{user.name}}</li>
              <li><strong>Email:</strong> {{user.emailId}}</li>
              <li><strong>Mobile:</strong> {{user.mobile}}</li>
              <li><strong>Working Sector:</strong> {{user.workingArea}}</li>
              <li><strong>Designation:</strong> {{user.designation}}</li>
              <li><strong>Country:</strong> {{user.country}}</li>
              <li><strong>Address:</strong> {{user.currAddress}}, {{user.currBlock}}, {{user.currDistrict}}, {{user.currState}}</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  