

.footer-toolbar {
  background-color: #3f4041; /* Primary color for the footer background */
  color: #ffffff; /* White text color */
  text-align: center; /* Center-align text */
  padding: 0.5rem 1rem; /* Adjust padding for better spacing */
  
  display: flex;
  justify-content: center;

 

}

.footer-content {

  font-size: 0.775rem; /* Smaller text size */
}

/* footer.component.css */
.footer {
  background-color: #ba9a71; /* Light background color */
  padding: 2rem 0; /* Vertical padding for spacing */
}

.footer h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #333; /* Dark text color */
}

.footer-list {
  list-style-type: none;
  padding: 0;
  font-size: 0.875rem; /* Smaller text size */
}

.footer-list li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.footer-list a {
  color: #007bff; /* Link color */
  text-decoration: none;
}

.footer-list a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 0.5rem; /* Space between icons */
}

.social-icons a {
  color: #007bff; /* Icon color */
  font-size: 1.5rem; /* Size of icons */
  text-decoration: none;
}

.social-icons a:hover {
  color: #0056b3; /* Darker color on hover */
}


/* Update social media icons style */
.social-icons {
  display: flex;
  gap: 1rem; /* Space between icons */
}

.social-icons a {
  color: #007bff; /* Icon color */
  font-size: 2rem; /* Size of icons */
  text-decoration: none;
}

.social-icons a:hover {
  color: #0056b3; /* Darker color on hover */
}
