<!-- footer.component.html -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Contact Us Section -->
      <div class="col-md-4">
        <h3>Contact Us</h3>
        <ul class="footer-list">
          <li><mat-icon>mail</mat-icon> <a href="mailto:brahmarshiwelfareassociation@gmail.com">brahmarshiwelfareassociation@gmail.com</a></li>
          <li><mat-icon>phone</mat-icon> <a href="tel:+919956030663">+91 99560 30663</a></li>
          <li><mat-icon>location_on</mat-icon> D2 104 विभूति खंड गोमती नगर लखनऊ उत्तर प्रदेश 226010</li>
        </ul>
      </div>

      <!-- Pages Section -->
      <div class="col-md-4">
        <h3>Pages</h3>
        <ul class="footer-list">
          <li><a mat-button routerLink="/">Home</a></li>
          <li><a mat-button routerLink="/about-us">About Us</a></li>
          <li><a mat-button routerLink="/services">Services</a></li>
          <li><a mat-button routerLink="/events">Events</a></li>
          <li><a mat-button routerLink="/contact-us">Contact</a></li>
        </ul>
      </div>

      <!-- Social Media Section -->
      <div class="col-md-4">
        <h3>Social Media</h3>
        <!-- Updated Social Media Icons Section -->
<div class="social-icons" >
  <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
    <mat-icon>facebook</mat-icon>
  </a></div>
  <div class="social-icons" >
  <a href="https://www.twitter.com"  target="_blank" aria-label="Twitter">
    <mat-icon>twitter</mat-icon>
  </a>
</div>
<div class="social-icons" >
  <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
    <mat-icon>instagram</mat-icon>
  </a>
</div>
<div class="social-icons" >
  <a href="https://www.youtube.com" target="_blank" aria-label="YouTube">
    <mat-icon>youtube</mat-icon>
  </a>
</div>


      </div>
    </div>
  </div>
  <mat-toolbar class="footer-toolbar">
    <div class="footer-content">
      <span>&copy; 2024 Brahmarshi Welfare Association. All rights reserved.</span>
    </div>
  </mat-toolbar>
</footer>
