.about-us {
    background-color: #dbe08c; /* Bright Orange */
    padding: 50px 0;
    color: black; /* Set text color to black */
  }
  
  .custom-card {
    border-radius: 10px;
  }
  
  .mat-card-header {
    background-color: #424242; /* Light Dark Header */
  }
  
  .mat-card-title {
    font-weight: bold;
  }
  
  .mat-icon {
    color: #FF9800; /* Orange color for icons */
  }
  
  button {
    margin-top: 20px;
    background-color: #FF9800;
    color: white;
  }
  
  button:hover {
    background-color: #e68900;
  }
  