.hero {
    background: linear-gradient(to right, #ff7f00, #120f0f); /* Orange to white gradient */
  }
  
  .hero h1 {
    font-weight: bold;
    font-size: 3rem; /* Adjust as needed */
  }
  
  .hero p {
    font-size: 1.25rem; /* Adjust for readability */
    font-weight: 300;
  }
  