.container {
    max-width: 1200px;
    margin: auto;
  }
  
  .mat-card {
    padding: 20px;
  }
  
  .mat-header-cell, .mat-cell {
    text-align: left;
  }
  
  button {
    margin-right: 10px;
  }
  